.landingPage {
  background-image: url("https://placekitten.com/800/600");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80vw;
    padding: 40px;
    height: 80vh;
    background-color: #2f4f4fab;
    color: white;

    input {
      height: 40px;
    }
  }
}
