@import "../../variables.scss";

.dashboard {
  background-color: $light;
  min-height: 100vh;

  .options {
    background-color: $primary;
    color: $light;
    padding: $base-spacing * 4;

    .form {
      display: flex;
      flex-direction: column;
    }
  }

  .grid {
    display: flex;
    margin-top: $base-spacing * 2;
    max-width: 100%;
    justify-content: center;
    // width: 80vw;
  }
}
